doctype html 
html 
    head
        title = "Hello Aish"
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
        script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    body 
        div 
            h1(style="margin-left:20%;") Welcome to this New World Aishwarya...
            button(type = "button" class="btn btn-primary" style="margin-left:20%;" onclick='myfunction()') Touch Me
            
